.THIS.c-container {
    border: 1px solid;
    margin: 10px 0 20px;
    margin-bottom: 4%;
}

.THIS .custom-box {
    text-align: left;
    padding: 1rem;
}

.THIS .custom-box2 {
    text-align: left;
    padding: 1rem;
    margin-top: -8%;
}
